header {
    background-color: var(--blue-dark);
    padding: 2em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    margin: 0 auto;

    & a {
        color: var(--text-light);

    }
}
.logo_link {
    font-family: 'Lobster Two', sans-serif;
    font-size: clamp(1.25rem, 3.5vw, 4rem);
    text-decoration: none;
}

.link_container {
    display: flex;
    flex-wrap: wrap;

    & a {
        margin-left: 1rem;
    }
}
@media (max-width: 600px) {
    .link_container {
        display: none;
    }
}
