a {
    transition: 100ms;
}
.solid-link {
    background-color: var(--orange-dark);
    padding: .8rem;
    color: var(--text-dark);
    border: 2px solid var(--orange-dark);
}

.outline-link {
    border: 2px solid var(--orange-dark);
    padding: .8rem ;
    color: var(--text-light);
}
.solid-link, .outline-link {
    border-radius: 100px;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;

    &:hover {
        outline: 2px solid var(--orange-dark);
        outline-offset: 3px;
    }
}
.naked-link {
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;


    &:hover {
        text-decoration-color: var(--orange-dark);
    }
}