.home-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 2em;
    justify-items: center;

}
.dropdown-wrapper {
    grid-area: 1 / 1 / 3 / 2;

}

.filter-button {
    display: flex;
    gap: 1.6rem;

    & p {
        font-weight: bold;
    }

    & button {
        background-color: var(--orange-dark);
        transition: 200ms;

        &:hover {
            outline: 2px solid var(--orange-dark);
            outline-offset: 3px;
        }
    }
}
.exercise-cards {
    margin-top: 1.5em;
    grid-area: 1 / 2 / 2 / 3;

}
.add-wrapper {
    grid-area: 1 / 3 / 2 / 4; 
}
.add-exercise {
    position: sticky;
    top: 1em;

}

.plus-wrapper {
    display: flex;
    gap: 1.6rem;
    opacity: .5;
    cursor: not-allowed;

    & p {
        font-weight: bold;
    }
}

.plus-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    border: none;
    background-color: var(--orange-dark);
    cursor: not-allowed;
 }    
